
.light {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: baseline;
  opacity: 1;
  background: #9A2727; /* you need this to specify a color to pulse to */
}

.light.inactive {
  background-color: gray;
}

.light.green {
  background-color: forestgreen;
  animation: greenPulse 1s ease-out;
  animation-iteration-count: infinite;
}

.light.orange {
  background-color: orange;
}

.light.red {
  background-color: darkred;
}

@keyframes greenPulse {
  0% { background-color: #379832}
  50% { background-color: #234E1F }
  100% { background-color: #379832}
}
