<div [ngSwitch]="connectionState" class="container-fluid">
  <span *ngSwitchCase="'Connected'" class="badge badge-pill badge-primary">{{connectionState}} <i class="fa fa-plug"></i></span>
  <span *ngSwitchCase="connectionStateEnum.Reconnecting" class="badge badge-pill badge-warning">{{connectionState}}</span>
  <span *ngSwitchCase="connectionStateEnum.Disconnected" class="badge badge-pill badge-danger">{{connectionState}}</span>
  <span *ngSwitchDefault class="badge badge-pill badge-secondary">Unkown</span>
</div>
