<div class="row">
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input [disabled]="disabled" class="form-control" placeholder="yyyy-mm-dd"
               name="dp" (dateSelect)="handleDate($event)" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button [disabled]="disabled" class="btn btn-outline-primary" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="col-4">
    <ngb-timepicker (ngModelChange)="handleTime($event)" [(ngModel)]="time"></ngb-timepicker>
  </div>
</div>
