<div class="container">
  <div class="card">
    <canvas style="width: 50%; height: 50%" id="pressureChart"></canvas>
  </div>
  <hr/>
  <div class="row">
    <div class="col-5">
      <app-datetime-picker [initialDate]="fromDate" [initialTime]="fromTime"
                           (dateChanged)="handleFromDate($event)"
                           (timeChanged)="handleFromTime($event)"></app-datetime-picker>
    </div>
    <div class="col-5">
      <app-datetime-picker [initialDate]="toDate" [initialTime]="toTime"
                           (dateChanged)="handleEndDate($event)"
                           (timeChanged)="handleToTime($event)"></app-datetime-picker>
    </div>
    <div class="col-2">
      <br>
      <br>
      <div class="custom-control custom-checkbox">
        <input (change)="toggleControls()" type="checkbox" class="custom-control-input" id="customCheck2">
        <label class="custom-control-label" for="customCheck2">Live data</label>
      </div>
    </div>
  </div>
  <hr/>
</div>
