<div class="container">
  <div class="card">
    <canvas style="width: 90%; height: 100%" id="airQualityChart"></canvas>
  </div>
  <hr/>
  <div class="row">
    <div class="col-5">
      <app-datetime-picker [initialDate]="fromDate" [initialTime]="fromTime"
                           (dateChanged)="handleFromDate($event)"
                           (timeChanged)="handleFromTime($event)"></app-datetime-picker>
    </div>
    <div class="col-5">
      <app-datetime-picker [initialDate]="toDate" [initialTime]="toTime"
                           (dateChanged)="handleEndDate($event)"
                           (timeChanged)="handleToTime($event)"></app-datetime-picker>
    </div>
  </div>
  <hr/>
</div>
