<div class="container">

  <div class="row">

    <div class="col">
      <h3>Statistics</h3>
    </div>
  </div>
  <hr/>
  <app-charts property='{{temperature}}' canvasId="temperatureChart" checkBoxId="temperatureCheckbox"></app-charts>
  <app-charts property='{{pressure}}' canvasId="pressureChart" checkBoxId="pressureCheckbox"></app-charts>
  <app-charts property='{{humidity}}' canvasId="humidityChart" checkBoxId="humidityCheckbox"></app-charts>
  <app-charts property='{{co2}}' canvasId="co2Chart" checkBoxId="co2Checkbox"></app-charts>
</div>
