<div class="container-fluid">

  <div class="row">

    <div class="col">
      <h3>Statistics</h3>
    </div>
  </div>

  <table>
    <tbody>
    <tr>
      <div class="row">
        <td class="card">
          <canvas style="width: 100%" id="temperatureChart"></canvas>
        </td>
      </div>
    </tr>
    <tr>
      <div class="row">
        <td class="card">
          <canvas style="width: 100%" id="humidityChart"></canvas>
        </td>
      </div>
    </tr>
    <tr>
      <div class="row">
        <td class="card">
          <canvas style="width: 100%" id="pressureChart"></canvas>
        </td>
      </div>
    </tr>
    <tr>
      <div class="row">
        <td class="card">
          <canvas style="width: 100%" id="airQualityChart"></canvas>
        </td>
      </div>
    </tr>
    </tbody>
  </table>

</div>
